<div id="main">

{% load my_tags %}
    <article class="article article-type-post">
        <div class="article-meta">
            <a class="article-date">
                <time>{{ post.created }}</time>
            </a>
            <div class="article-category">
                <a class="article-category-link" href="#" target="_blank">{{ post.category.name }}</a>
            </div>
        </div>
        <div class="article-inner">
            <header class="article-header">
                <h1 itemprop="name">
                    <a class="article-title" href="/blog/details/{{ post.id }}" target="_blank">{{ post.title }}</a>
                </h1>
            </header>
            <div class="article-entry" itemprop="articleBody">
                <h2>前言</h2>
                <hr>
                <!--内容-->
                <p><img alt="" src="/{{ post.image }}"
                        style="border-style:solid; border-width:1px;  margin:30px 50px; width:700px"/>
                </p>

                <p>{{ post.desc }}</p>
                <p>&nbsp;</p>
                <p class="article-more-link">
                    <a href="/post/details/14{{ post.id }}" target="_blank">阅读全文</a>
                </p>
            </div>
            <footer class="article-footer">
                <a data-url="存放文章的url" class="article-share-link">分享</a>
                <ul class="article-tag-list">

                    <li class="article-tag-list-item">
                        {% for tag in post.tags.all %}
                            <a class="article-tag-list-link" href="#">{{ tag.name }}</a>
                        {% endfor %}
                    </li>
                </ul>
            </footer>
        </div>
    </article>
    <nav id="page-nav">
    {% if ppost.has_previous %}
        <a class="extend prev" rel="next" href="/page/{{ ppost.previous_page_number }}">« Prev</a>
    {% endif %}
        {% for p in plist %}
            {% if p|toStr == page_num  %}
                <span class="page-number current">{{ p }}</span>
            {% else %}
                <a class="page-number" href="/page/{{ p }}">{{ p }}</a>

            {% endif %}
        {% endfor %}
    {% if ppost.has_next %}
        <a class="extend next" rel="next" href="/page/{{ ppost.next_page_number }}">Next »</a>
    {% endif%}
    </nav>
</div>